@use './vars' as *;

@mixin linkHover($scaleValue: $linkHoverScale) {
  background-color: $linkBackgroundColorLT;
  color: $linkTextColorLT;
  border-radius: $linkBorderRadius;
  transition: $linkDefaultTransition;

  &:hover {
    background-color: $linkHoverBackgroundColorLT;
    scale: $scaleValue;
  }
}
