// LT = Light Theme | DT = Dark Theme
// BASIC VARIABLES
$pageBackgroundLT: rgb(255 255 255);
$textColorLT: rgb(0 0 0);
$defaultFontSize: 16px;
$defaultFontFamily: 'Onest', 'Arial', sans-serif;
$browserPageWidth: 60%;
$menuToMainContentGap: 1rem;
$marginFromTopOfPage: 4rem;

// HEADER
$mainHeaderFontSize: 2.25rem;
$mainHeaderFontWeight: bold;
$menuHeaderWidth: 20%;
$menuHeaderMaxWidth: 250px;
$menuItemsGap: 0.5rem;

// LINKS
$linkPadding: 0.5rem;
$linkFontSize: 1rem;
$linkBorderRadius: 0.5em;
$linkBackgroundColorLT: rgb(255 255 255);
$linkHoverBackgroundColorLT: rgb(235 235 235);
$linkTextColorLT: rgb(0 0 0);
$resourcesLinksGap: 1rem;

// MAIN CONTENT
$mainContentWidth: 100%;
$segmentMarginTop: 1rem;

// BUTTONS
$backButtonSize: 2.5em;

// ICONS
$iconsLightGrayLT: rgb(180 180 180);
