// BASIC VARIABLES
$lightThemePageBackground: rgb(255 255 255);
$lightThemeTextColor: rgb(0 0 0);
$defaultFontSize: 16px;
$defaultFontFamily: 'Onest', 'Arial', sans-serif;
$browserPageWidth: 60%;
$menuToMainContentGap: 1rem;
$marginFromTopOfPage: 4rem;

// HEADER
$mainHeaderFontSize: 2.25rem;
$mainHeaderFontWeight: bold;
$menuHeaderWidth: 25%;

// MAIN CONTENT
$mainContentWidth: 100%;
$segmentMarginTop: 1rem;
