@use './vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  background-color: $pageBackgroundLT;
  color: $textColorLT;
  font-size: $defaultFontSize;
  font-family: $defaultFontFamily;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
