@use '../../styles/vars' as *;

.mainContainer {
  min-height: 100svh;
  width: $browserPageWidth;
  display: flex;
  flex-direction: row;
  gap: $menuToMainContentGap;
  margin: 0 auto;

  .header {
    margin-top: $marginFromTopOfPage;
    width: $menuHeaderWidth;
    max-width: $menuHeaderMaxWidth;
    text-wrap: nowrap;

    .headerText {
      font-size: $mainHeaderFontSize;
      font-weight: $mainHeaderFontWeight;
    }

    .navbar {
      width: 100%;
      height: auto;
      margin-top: $segmentMarginTop;

      .menuList {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $menuItemsGap;

        .listItem {
          width: 100%;
          min-height: 1rem;
          display: flex;
          justify-content: center;

          .link {
            width: 100%;
            height: 100%;
            padding: $linkPadding;
            font-size: $linkFontSize;
            background-color: $linkBackgroundColorLT;
            color: $linkTextColorLT;
            border-radius: $linkBorderRadius;
            display: flex;
            gap: 0.6rem;
            align-items: center;
            transition: 0.1s ease-in-out;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 1.5rem;

              svg {
                fill: $iconsLightGrayLT;
              }
            }
          }

          .link:hover {
            background-color: $linkHoverBackgroundColorLT;
            scale: 1.05;
          }

          .active {
            background-color: $linkHoverBackgroundColorLT;
            scale: 1.05;
          }
        }
      }
    }
  }

  .main {
    margin-top: $marginFromTopOfPage;
    width: $mainContentWidth;

    .content {
      width: 100%;
    }
  }
}
