@use '../../styles/vars' as *;

.mainContainer {
  min-height: 100svh;
  width: $browserPageWidth;
  display: flex;
  flex-direction: row;
  gap: $menuToMainContentGap;
  margin: 0 auto;

  .header {
    margin-top: $marginFromTopOfPage;
    width: $menuHeaderWidth;
    text-wrap: nowrap;

    .headerText {
      font-size: $mainHeaderFontSize;
      font-weight: $mainHeaderFontWeight;
    }

    .navbar {
      width: 100%;
      height: auto;
      margin-top: $segmentMarginTop;
    }
  }

  .main {
    margin-top: $marginFromTopOfPage;
    width: $mainContentWidth;
  }
}
