@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $resourcesLinksGap;
  width: 100%;

  .listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .reactLink {
      @include reactLink(none);
      padding: $basicBarPadding;
      gap: $linkResourcesIconToTextGap;
      @include link(1.02);

      .description {
        color: $linkResourcesDescriptionTextColor;
      }

      .icon {
        width: $linkResourcesIconSize;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: $iconsLightGrayLT;
        }
      }
    }
  }
}
