@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.projects {
  padding: 0.65rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .listItem {
    padding: $basicBarPadding;
    border-radius: $linkBorderRadius;
    transition: $linkDefaultTransition;

    &:hover {
      background-color: $linkHoverBackgroundColorLT;
      scale: 1.03;
    }

    .reactLink {
      @include link;

      .project {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      &:hover {
        background-color: $linkHoverBackgroundColorLT;
        scale: 1.1;
      }
    }
  }

  .description {
    color: $linkResourcesDescriptionTextColor;
  }

  .inSearchOf {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .searchText {
      display: flex;
      align-items: center;
      font-weight: bolder;
    }

    .category {
      color: $whiteText;
      background-color: $accentColor;
      font-size: 0.75rem;
      padding: 0.25rem 0.6rem;
      border-radius: 0.25rem;
    }
  }
}
